/*
 * Root and body
 */

:root {
    --logo-gray: #646464;
    --logo-border: #2c2c2c;

    --czech-white: #ffffff;
    --czech-red: #d80c13;
    --czech-blue: #08437f;
}

body {
    margin: 0 0;
    padding: 0 0;
    overflow: auto scroll;
    background: #222222;
}

body,
input {
    /* System Fonts with system-ui */
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*
 * Header and logo
 */
header {
    padding: 60px 0 50px 0;
    font-family: serif;
}

h1.header {
    margin: 0 0;
    padding: 0 0;
    text-align: center;
    color: var(--logo-gray);
    font-size: 40pt;
}

@media (max-width: 400px) {
    h1.header {
        font-size: 32px;
    }
}

.logo {
    display: inline-block;
    position: relative;
}

.logo .header-prezident {
    background: white;
    color: var(--logo-border);
    border: 1px var(--logo-border) solid;
    font-size: 55%;
    padding: 0.2em 0.5em;
    background: linear-gradient(to bottom, white, #dddddd);
    transform: rotate(-10deg);
    position: absolute;
    top: -1.3em;
    left: -1.5em;
}

.logo>.cz-start,
.logo>.cz-end {
    background: var(--logo-gray);
    color: white;
    padding: 0.17em;
    border: 1px var(--logo-border) solid;
    border-radius: 0.1em;
}

.logo>.oo {
    background: white;
    font-size: 80%;
    color: var(--logo-gray);
    padding: 0.05em;
    border: 1px var(--logo-border) solid;
    border-radius: 4px;
    box-shadow: -0.1em 0.1em 4px var(--logo-border);
}

.logo>.d {
    background: var(--czech-red);
    font-size: 110%;
    color: white;
    padding: 0.1em;
    border: 1px var(--logo-border) solid;
    border-radius: 4px;
    box-shadow: -0.1em 0.1em 4px var(--logo-border);
}

.logo>.le {
    background: var(--czech-blue);
    font-size: 60%;
    color: white;
    padding: 0.25em;
    border: 1px var(--logo-border) solid;
    border-radius: 4px;
    box-shadow: -0.1em 0.1em 4px var(--logo-border);
}

/*
 * Layout
 */

.width {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 0.5em;
    position: relative;
}

@media (min-width: 600px) {
    .width {
        padding: 0 2em;
    }
}

/*
 * Common UI elements
 */

.color-separator {
    height: 5px;
    background: repeating-linear-gradient(to right, var(--czech-white), var(--czech-white) 5px, var(--czech-red) 5px, var(--czech-red) 10px, var(--czech-blue) 10px, var(--czech-blue) 15px, var(--czech-white) 15px);
    border-bottom: 1px var(--logo-border) solid;
}

.candidate {
    display: flex;
    width: 9em;
    flex: 0 0 auto;
}

.candidate-photo {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
}

.candidate-name {
    display: flex;
    color: white;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
}

.candidate-first-name {
    display: block;
}

.candidate-surname {
    display: block;
    font-weight: bold;
}

.star-poll {
    margin: 1em 0;
}

.star-poll-row {
    padding: 0.5em 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px #444 solid;
}

.star-poll-row:last-child {
    border-bottom: none;
}

.star-poll-value {
    position: relative;
    align-items: center;
    display: flex;
    flex: 1 1 150px;
    justify-content: right;
}

.star-poll-rank {
    display: flex;
}

/*
 * Star Poll
 */
.star-poll-star {
    fill: #626262;
    stroke-width: 1;
    stroke: gray;
    flex: 0 1 auto;
}

.star-poll-option>svg {
    fill: inherit;
    stroke: inherit;
    stroke-width: inherit;
}

.star-poll-none {
    stroke: #626262;
    stroke-width: 1;
}

.star-poll-star.enabled {
    fill: yellow;
    stroke: white;
}

@media (hover: hover) {
    .star-poll-rank:hover .star-poll-star {
        fill: white;
    }

    .star-poll-rank .star-poll-option:hover~.star-poll-star.enabled {
        fill: #8f8a43
    }

    .star-poll-rank .star-poll-option:hover~.star-poll-star.disabled {
        fill: #626262;
    }

    .star-poll-rank .star-poll-none.enabled:hover {
        stroke: lightcoral;
        stroke-width: 3;
    }
}

.star-poll-edit {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    padding-left: 0.5em;
    align-items: center;
}

.star-poll-input {
    width: 4em;
    font-size: 14pt;
}

.star-poll.custom .star-poll-edit {
    z-index: 1;
    opacity: 100;
}

.star-poll.custom .star-poll-rank {
    z-index: -1;
    opacity: 0;
}

.star-poll-percent-bar {
    margin: 0 0.5em;
    display: flex;
    align-items: center;
    height: 1.5em;
    flex: 1 1 100px;
    color: lightcoral;
}

.star-poll-heading {
    color: white;
}

.star-poll-info {
    color: white;
    line-height: 1.25;
}

.star-poll-title {
    display: flex;
    align-items: center;
    color: white;
}

.star-poll-title>h2 {
    flex: 1 1 auto;
}

.star-poll-title>button {
    flex: 0 0 auto;
}
