/*
 * Root and body
 */

:root {
    --logo-gray: #646464;
    --logo-border: #2c2c2c;

    --czech-white: #ffffff;
    --czech-red: #d80c13;
    --czech-blue: #08437f;
}

body {
    margin: 0 0;
    padding: 0 0;
    overflow: auto scroll;
    background: #222222;
    /* System Fonts with system-ui */
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*
 * Header and logo
 */
header {
    padding: 60px 0 50px 0;
    font-family: serif;
}
h1.header {
    margin: 0 0;
    padding: 0 0;
    text-align: center;
    color: var(--logo-gray);
    font-size: 40pt;
}
@media (max-width: 400px) {
    h1.header {
        font-size: 32px;
    }
}
.logo {
    display: inline-block;
    position: relative;
}
.logo .header-prezident {
    background: white;
    color: var(--logo-border);
    border: 1px var(--logo-border) solid;
    font-size: 55%;
    padding: 0.2em 0.5em;
    background: linear-gradient(to bottom, white, #dddddd);
    transform: rotate(-10deg);
    position: absolute;
    top: -1.3em;
    left: -1.5em;
}
.logo > .cz-start, .logo > .cz-end {
    background: var(--logo-gray);
    color: white;
    padding: 0.17em;
    border: 1px var(--logo-border) solid;
    border-radius: 0.1em;
}
.logo > .oo {
    background: white;
    font-size: 80%;
    color: var(--logo-gray);
    padding: 0.05em;
    border: 1px var(--logo-border) solid;
    border-radius: 4px;
    box-shadow: -0.1em 0.1em 4px var(--logo-border);
}
.logo > .d {
    background: var(--czech-red);
    font-size: 110%;
    color: white;
    padding: 0.1em;
    border: 1px var(--logo-border) solid;
    border-radius: 4px;
    box-shadow: -0.1em 0.1em 4px var(--logo-border);
}
.logo > .le {
    background: var(--czech-blue);
    font-size: 60%;
    color: white;
    padding: 0.25em;
    border: 1px var(--logo-border) solid;
    border-radius: 4px;
    box-shadow: -0.1em 0.1em 4px var(--logo-border);
}

/*
 * Layout
 */

.width {
    max-width: 600px;
    margin: 0 auto;
    padding: 0.2em;
    position: relative;
}
@media (min-width: 600px) {
    .width {
        padding: 2em;
    }
}

/*
 * Common UI elements
 */

.color-separator {
    height: 5px;
    background: repeating-linear-gradient(to right, var(--czech-white), var(--czech-white) 5px, var(--czech-red) 5px, var(--czech-red) 10px, var(--czech-blue) 10px, var(--czech-blue) 15px, var(--czech-white) 15px);
    border-bottom: 1px var(--logo-border) solid;
}

.candidate-photo {
    width: 42px;
    border-radius: 21px;
    vertical-align: middle;
    margin-right: 0.5em;
}

.candidate-first-name {
    color: white;
}

.candidate-surname {
    color: white;
    font-weight: bold;
}

/*
 * Star Poll
 */
 .star-poll-star {
     fill: rgb(98, 98, 98);
     stroke-width: 1;
     stroke: gray;
    }

    .star-poll-star.enabled {
     fill: yellow;
     stroke: white;

 }
